@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <br />
    <p><h3> With this example , you are going to learn how to data controller to view. TempData,ViewBag,ViewData,Model Directive and Tuple. </h3></p>
    <p><h3>Email me if you have any question <a href = "mailto: ertunckoybasi@msn.com">ertunckoybasi@msn.com</a>  </h3></p>
</div>
